---
import { Image } from 'astro:assets';
import PircaImage from '../assets/images/pirca_logo.jpeg';
import EGOImage from '../assets/images/agenciaego_logo.jpeg';
import ViajobienImage from '../assets/images/viajobiencom_logo.jpeg';

function calculateDate(dateFrom: string) {
    const _dateFrom = new Date(dateFrom);
    const _dateNow = new Date();

    let years = _dateNow.getFullYear() - _dateFrom.getFullYear();
    let months = _dateNow.getMonth() - _dateFrom.getMonth();

    // Validate years and months
    if (months < 0) {
        years --;
        months += 12;
    }

    if (months === 0) return `${years} years`;
    return `${years} years, ${months} month${months > 1 ? 's' : ''}`;
}
---
<section id="experience" class="experience">
  <h2>Experience</h2>
  <div class="experience__content">
    <article>
      <Image class="logo animate" src={PircaImage} alt='Pirca Solutions Logo'></Image>
      <div class="item">
        <div class="item__title animate">
          <a href="https://pircasolutions.com/" target="_blank" rel="noopener noreferrer">
            <h3>Pirca Solutions <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></h3>
            <small>Jun 2019 - Present ({calculateDate('2019-06-01')})</small>
          </a>
        </div>
        <div class="item__experience animate">
          <p>Sr. Frontend Developer</p>
          <ul>
            <li>Development and maintenance of a platform for automate video production.
              <a href="https://hdvmixer.insoftusa.com/" target="_blank" rel="noopener noreferrer">
                <small>| HDVMixer <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
              </a>
            </li>
            <li title="2023">Development and maintenance of a backoffice for advertising contract management on radio 
              <a href="https://insoftusa.com/" target="_blank" rel="noopener noreferrer">
                <small>| SpotMaster <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
              </a>
            </li>
            <li>Development and maintenance of a podcast generation and recording platform. 
              <a href="https://www.airlinkcloud.com/" target="_blank" rel="noopener noreferrer">
                <small>| Airlink Cloud <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
              </a>
            </li>
            <li>Development and maintenance of a viideocall platform.
              <a href="https://insoftusa.com/" target="_blank" rel="noopener noreferrer">
                <small>| Airlink <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
              </a>
            </li>
            <li title="2021">Development and maintenance of a radio automatization platform. 
              <a href="https://insoftusa.com/radio-en/" target="_blank" rel="noopener noreferrer">
                <small>| Insoft Radio <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
              </a>
            </li>
            <li>Development of a video game focused on psycho-technical outcomes. 
              <a href="https://fondationforge.org/" target="_blank" >
                <small>| Forge <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
              </a>
            </li>
            <li>Development of an ONG's educational platform.
              <a href="https://fondationforge.org/" target="_blank" >
                <small>| Forge <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
              </a>
            </li>
            <li title="2020">Development of a matching travellers around the world mobile app.
              <a href="https://apps.apple.com/ar/app/undermoilen-app/id1534956855" target="_blank" >
                <small>| Undermoilen <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
              </a>
            </li>
            <li>Development of an online fan mobile app.
              <a href="https://pircasolutions.com/" target="_blank" >
                <small>| Fanfest <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
              </a>
            </li>
            <li title="2019">Development of an university search engine platform.
              <a href="https://www.matchupglobal.com/" target="_blank" >
                <small>| Matchup <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
              </a>
            </li>
          </ul>
        </div>
        <div class="item__goals animate">
          <span>🏆 Achievements</span>
          <p>Consistent growth in new technologies.</p>
          <p>Project presentations at the 2023 NAB SHOW.
            <a href="https://insoftusa.com/" target="_blank" >
              <small>| SpotMaster, Airlink Cloud, Airlink, Insoft Radio <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></small>
            </a>
          </p>
        </div>
        <div class="item__skill animate">
          <div class="pill">
            <img src="https://svgl.app/library/vue.svg" alt="Vuejs">
            Vuejs
          </div>
          <div class="pill">
            <img src="https://www.svgrepo.com/show/354551/webrtc.svg" alt="Webrtc">
            Webrtc
          </div>
          <div class="pill">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Socket-io.svg" alt="SocketIo">
            Socketio
          </div>
          <div class="pill">
            <img src="https://svgl.app/library/redis.svg" alt="Redis">
            Redis
          </div>
          <div class="pill">
            <img src="https://svgl.app/library/angular.svg" alt="Angular">
            Angularjs
          </div>
        </div>
      </div>
    </article>
    <article>
      <Image class="logo animate" src={EGOImage} alt='EGO Agency Logo'></Image>
      <div class="item">
        <div class="item__title animate">
          <a href="https://egodesign.io/" target="_blank" rel="noopener noreferrer">
            <h3>Agencia EGO <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></h3>
            <small>Jan 2019 - Jun 2019 (6 months)</small>
          </a>
        </div>
        <div class="item__experience animate">
          <p>Ssr. Frontend Developer at Santander Rio Bank for Homebanking project.</p>
          <div>
            <ul>
              <li>Maintenance and bug fixes in the investments area.</li>
              <li title="2019"> Bug fixes in the production area.</li>
            </ul>
          </div>
        </div>
        <div class="item__skill animate">
          <div class="pill">
            <img src="https://svgl.app/library/angular.svg" alt="Angular">
            Angularjs
          </div>
        </div>
      </div>
    </article>
    <article>
      <Image class="logo animate" src={ViajobienImage} alt='Viajobien Logo'></Image>
      <div class="item">
        <div class="item__title animate">
          <a href="https://viajobien.com/" target="_blank" rel="noopener noreferrer">
            <h3>Viajobien <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlklEQVR4nO2ZTU4CQRBGn8NBRL2D3kS5i7CUGDe6c6VnQI6BXEPCHhVjSNpMUiSdyQgzVT3ds+iXdAghU/V91d3TP0Amk8k0ZApsAadov8ADCTkBNkrxzjORlDtDDzhpKgpgBMyBFbBrmGwrojX5XkIZGAJLQ8U2AcU7jfi1QXzbHihqxFe/twrmV/4TuAXO5LfQFP+IL7QGRhXxl3RHcUA8WgNz76Gy8qnEqw2svIfKYZNKvNqA/6ockE682oB58TiyKj83FN87A3XiX4+82XpjQCO+Nwa04nthoM2ErWO/ASw/oxuwike2I5u2G8MQBizDxkwIA0/Gyic38G0QP9UMm9AG7oEf4FFR+a1m4sZaiaPkd9mADZd7gDwHTLg8hMhDyISzFrDrM/EhBl7uUocK/1binLhceLk/tEHevCBj4jLxcs+0QW68IF8d38z5XEm+fe5rlJS7x/eKibF0b+g5MZC4k4r4hfX8YL2dtrQ1cBqiOkOpREzxC8kbjELmxEzeCk3/oWnadhJ3JmM+2rEzk8mQnj/pEK7ScEPHLAAAAABJRU5ErkJggg=="></h3>
            <small>Dec 2015 - Jan 2019 (3 years, 2 months)</small>
          </a>
        </div>
        <div class="item__experience animate">
          <p>Jr. Frontend Developer</p>
          <div>
            <ul>
              <li>Development of a wholesale sales platform for tourism products.</li>
              <li title="2018">Development of a white-label platform for tourism products.</li>
              <li title="2017">Development of a backoffice system for managing and loading tourism packages.</li>
              <li title="2016">Development and launch of new products, including online hotel booking and the "Build your trip" option.</li>
              <li title="2015">Development of the company's new website.</li>
            </ul>
          </div>
        </div>
        <div class="item__goals animate">
          <span>🏆 Achievements</span>
          <p>Improvements in website efficiency.</p>
          <p>Hotel booking started being completely online and automated.</p>
          <p>Improvements time for manual loading of tourism products.</p>
        </div>
        <div class="item__skill animate">
          <div class="pill">            
            <img src="https://svgl.app/library/angular.svg" alt="Angular">
            AngularJs
          </div>
          <div class="pill">
            <img src="https://svgl.app/library/vue.svg" alt="Vuejs">
            Vuejs
          </div>
          <div class="pill">
            <img src="https://svgl.app/library/scala.svg" alt="Scala">
            Scala
          </div>
          <div class="pill">
            <img src="https://svgl.app/library/nodejs.svg" alt="Node">
            NodeJs
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
<style lang="scss">
  .experience {
		&__content {
			display: flex;
			flex-direction: column;
			gap: 48px;

			article {
        display: grid;
				grid-template-columns: 60px 1fr;
				gap: 12px;

        img.logo {
          border-radius: 12px;
          width: 60px;
        }
			}

      .item {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__title {
          cursor: pointer;

          &:hover img {
            opacity: .5;
          }
          
          img {
            transition: all .3s;
            width: 12px;
            opacity: 0;
          }

          a {
            text-decoration: none;
            color: #000;
          }
        }

        &__experience {
          p {
            font-weight: 600;
          }
        }

        &__skill {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
        }

        &__goals {
          p {
            margin-top: 4px;
          }

          a {
            text-decoration: none;
            color: #000;
          }

          span {
            font-weight: 600;
          }
          
          small {
            cursor: pointer;

            &:hover img {
              opacity: .5;
            }
            
            img {
              transition: all .3s;
              width: 12px;
              opacity: 0;
            }
          }

        }
      }

			small {
				font-weight: lighter;
				opacity: .85;
			}
		}

		ul {
			list-style: none;
			margin-left: 12px;
			padding-left: 8px;
			border-left: 1px dashed #00000080;

			li {
				margin: 4px 0;
				position: relative;

				&[title]::after {
					content: attr(title);
					background-color: #00000020;
					color: rgba(0, 0, 0, 0.5);
					position: absolute;
					top: 0px;
					left: -52px;
					font-size: 12px;
					border-radius: 4px;
					padding: 2px 4px;
				}

        a {
          text-decoration: none;
          color: #000;
        }

        small {
          cursor: pointer;


          &:hover img {
            opacity: .5;
          }

          img {
            transition: all .3s;
            width: 12px;
            opacity: 0;
          }
        }
			}
		}
	}
</style>